*.MP4
*.mp4
*.avi

# Byte-compiled / optimized / DLL files
__pycache__/
build/
.ipynb_checkpoints/
*.py[cod]
*$py.class
*.egg-info/

# DS Store
.DS_Store

# C extensions
*.so
*.o

# IDE files
.idea
.vs_code/
.vscode/

data/
