numpy==2.3.0
opencv-python==4.11.0.86
scipy==1.15.3
matplotlib==3.10.3
imageio==2.37.0
imageio-ffmpeg==0.6.0
pytest==8.4.1
cython==3.1.2
scikit-image==0.25.2
shapely==2.1.1
ruff==0.12.2
black==25.1.0
